name: CI Makefile

on:
    push:
    pull_request:
    workflow_dispatch:
    #schedule:
    #    - cron: '42 5 * * 0'

jobs:
  perl-job:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
#          - '5.8'
#          - '5.30'
          - '5.42'
#          - 'latest'
    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}     # https://hub.docker.com/r/perldocker/perl-tester
    name: Perl ${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v6


      - name: Prepare for release tests
        run: |
            cpanm --installdeps --notest .
            #cpanm --notest Test::CheckManifest Test::Pod::Coverage Pod::Coverage Test::Pod
      - name: Release tests
        #env:
        #  RELEASE_TESTING: 1
        run: |
            perl Makefile.PL
            make
            PERL5LIB=$PERL5LIB:$(pwd)/lib:$(pwd)/t/lib make test
